.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


a.logo_link:link {
  text-decoration: none; }

a.logo_link:hover {
  cursor: pointer;
  color: gray; }

a.logo_link:visited {
  color: black; }

a.logo_link:active {
  color: black; }
